.comment-form-e11-recaptcha label {
  vertical-align: top !important;
}

#comment-form-e11-recaptcha {
  display: inline-block;
}

#comment-form-e11-recaptcha-failed {
  display: inline-block;
  width: 75%;
  border: 2px solid #888;
  background-color: #fe4;
  padding: 0.5em;
}

#register-form-e11-recaptcha {
  margin: 0 auto 4px;

  display: table;

  transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
